body {
   font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(219, 216, 201) !important;
  font-family: "Times New Roman", Times, serif;
}
.admin-panel h3 {
  color: black;
  font-weight: bold;
  margin-bottom:15px; 
  font-size: 1.7em 
}
.admin-panel h5 {
  color: rgb(230, 152, 152);
  font-weight: bold;
}
.admin-panel h5 span {
  color: rgb(66, 64, 64);
  font-size: 1.3em;
}
.admin-panel span:first-of-type{
  color:#d66c2c; 
}
.admin-panel span:last-of-type{
  color:#6b9fd6 
}
.admin-panel-content {
   min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
 
nav#serverNav {
  margin-bottom: 20px;
  padding-bottom: 0.53rem;
}
button,
.navbar-toggler {
  margin-top: -5px;
}
.addNewArticle {
  margin-top: 20px;
  margin-bottom: 20px;
}
.registration {
  padding: 5em 0;
  border-radius: 1em;
}

.showTransitionSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.articleList-content {
  max-height: 50px;
  overflow: auto;
}
.categoryList-content {
  max-height: 50px;
  overflow: auto;
}

.validation {
  width: 90%;
  height: 300px;
  border: solid 2px rgb(129, 110, 55);
  border-radius: 15px;
  position: fixed;
  top: 1;
  z-index: 1;
  animation: myFrame 1s ease-in-out 0s;
  overflow: hidden;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@keyframes myFrame {
  0% {
    height: 10px;
    width: 10px;
  }
  100% {
    height: 300px;
    width: 90%;
  }
}
.validation-box {
  height: 250px;
  border: solid 1px white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}
#serverNav a li {
  font-size: 1.75rem;
  list-style: none;
  border-left: none;
}
#serverNav a#homeNav li {
  font-size: 1.75rem;
  list-style: none;
  border-left: none;
  vertical-align: middle;
}

/* Start Main Page Style */
.legodi-menu ul{
  background: #6b9fd6;
  margin-left: 25%;
  padding: 35px;
  max-width: 90%;
  margin-left: 5%;
  margin-top:30px;
}
.legodi-menu li {
  padding: 10px;
  list-style: none;
  margin: 2px;
  background: black;
  text-align: center;
  border: solid 1px white;
  cursor: pointer;
}
.legodi-menu li:hover {
  text-decoration: none;
  color: white;
  background: rgba(0, 0, 0, 0.685);
}
.legodi-menu a:hover {
  text-decoration: none;
  color: white;
}
.legodi-menu a {
  color: rgb(238, 237, 237);
  font-size: 17px;
  text-decoration: none;
}
.legodi-menu-header h2:first-child{
  margin-top:30px;
  color:#6b9fd6;
}
.legodi-menu-header h2:last-child{
  color:black;
}
.admin-legodi table{
  width:90%;
  margin:auto;
 }
 .admin-legodi table thead th{
  text-align: center;
  background:#2ec0ec;
  font-weight: bold;
  font-size: 1.5em
}
.eye:hover{
  color:red;
  cursor: pointer;
 }
 .weegie-question h3{
   font-weight: bold
 }
 .weegie-question h4{
  color: #3c3f41
}
@media (min-width: 680px) {
  .legodi-menu {
    max-width: 30%;
    margin-left: 35%;
  }
}
/* End Main Page Style */
@media (min-width: 992px) {
  #serverNav li:hover {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    vertical-align: middle;
  }
  #serverNav a li {
    padding: 10px;
  }
  #serverNav a#homeNav li {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border: solid 0.3px white;
    vertical-align: middle;
  }
  #serverNav li#homeNav {
    border-left: solid 1px rgb(245, 241, 241);
    border: solid 0.3px white;
    background: rgba(0, 0, 0, 0.5);
    vertical-align: middle;
    padding-top: 3px;
  }
  .admin-panel h3 {
    font-size:1.9em
  }
}
