<div class="mt-5 weegie-question">
 
    <h3 class="text-center">User ID:</h3>
    <h4 class="text-center">{{data.article_id}}</h4>

    <h3 class="text-center mt-4"> Title:</h3>
    <h4 class="text-center">{{data.title}}</h4>

    <h3 class="text-center mt-4">short description:</h3>
    <h4 class="text-center">{{data.short_content}}</h4>

    <h3 class="text-center mt-4">Full Content:</h3>
    <h4 class="text-center">{{data.full_content}}</h4>

 </div>