<div class="legodi-menu-header">
<h2 class="text-center">Users CRUD:</h2>
<h2 class="text-center "> Menu</h2>
</div>
<div class="legodi-menu">
    <ul>
        <a href="/admin/users/view">
            <li>View</li>
        </a>
        <a href="/admin/users/edit">
            <li>Edit</li>
        </a>
        <a href="/admin/users/add">
            <li>Add</li>
        </a>
        
    </ul>
</div>