<div class="container">
{{#if data}}
<h3 class="text-success">Edit New User</h3>
<form method="post">
 <div class="form-group has-success">
    <label class="text-primary">
         Full Name:
    </label>
    <textarea rows="3" class="form-control form-control-success mb-4"  name="fullName">{{data.full_name}}</textarea>
  </div>
  <div class="form-group has-success">
    <label class="text-primary">
         Email: 
    </label>
    <textarea rows="3" class="form-control form-control-success mb-4" name="email" >{{data.email}}</textarea>
  </div>

   <div class="form-group has-success">
    <label class="text-primary">
        Password:
    </label>
    <textarea rows="3" class="form-control form-control-success mb-4" name="password" >{{data.password}}</textarea>
  </div>

    <button class="btn btn-lg btn-danger" type="submit">Submit</button>
   
</form>
{{else}}
<h3 class="text-success">Add New User</h3>
<form method="post">
 <div class="form-group has-success">
    <label class="text-primary">
         Full Name:
    </label>
    <textarea rows="3" class="form-control form-control-success mb-4"  name="fullName"></textarea>
  </div>
  <div class="form-group has-success">
    <label class="text-primary">
         Email: 
    </label>
    <textarea rows="3" class="form-control form-control-success mb-4" name="email" ></textarea>
  </div>

   <div class="form-group has-success">
    <label class="text-primary">
        Password:
    </label>
    <textarea rows="3" class="form-control form-control-success mb-4" name="password" ></textarea>
  </div>
    <button class="btn btn-lg btn-danger" type="submit">Submit</button>
   
</form>
{{/if}}
</div>