<div class="admin-weegie">
    <table class="table bg-primary table-bordered  mt-4 pd-4">
        <thead class="table ">
            <tr class="text-center align-middle">
                <th>#</th>
                <th>Title</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody class="table bg-info text-white">
            {{#each data}}
            <tr>
                <th scope="row" class="text-center align-middle">{{this.question_id}}</th>
                <td class="text-center align-middle">{{this.title}}</td>
                <td class="text-center align-middle">
                    <a href='view/{{this.question_id}}'>
                       <button class="btn btn-sm eye"><i class="far fa-edit" color="black"></i></button>                         
                    </a>
                </td>
                <td class="text-center align-middle">
                    <a href='delete/{{this.question_id}}'>
                       <button class="btn btn-sm eye"><i class="far fa-trash-alt" color="black"></i></button>                         
                    </a>
                </td>
            </tr>
            {{/each}}

        </tbody>
    </table>
</div>