<div class="mt-5 weegie-question">
    {{#each data}}

    <h3 class="text-center">Question ID:</h3>
    <h4 class="text-center">{{this.question_id}}</h4>

    <h3 class="text-center mt-4">Question Title:</h3>
    <h4 class="text-center">{{this.title}}</h4>

    <h3 class="text-center mt-4">Answer:</h3>
    <h4 class="text-center">{{this.answer}}</h4>

    {{/each}}
</div>